[submodule "lib/PicoLED"]
	path = lib/PicoLED
	url = https://github.com/ForsakenNGS/PicoLED
[submodule "lib/micro_ros_raspberrypi_pico_sdk"]
	path = lib/micro_ros_raspberrypi_pico_sdk
	url = https://github.com/micro-ROS/micro_ros_raspberrypi_pico_sdk
[submodule "lib/RPIPicoOnboardNVS"]
	path = lib/RPIPicoOnboardNVS
	url = https://github.com/jondurrant/RPIPicoOnboardNVS
