[submodule "lib/PicoLED"]
	path = lib/PicoLED
	url = https://github.com/ForsakenNGS/PicoLED
[submodule "lib/micro_ros_raspberrypi_pico_sdk"]
	path = lib/micro_ros_raspberrypi_pico_sdk
	url = https://github.com/micro-ROS/micro_ros_raspberrypi_pico_sdk
[submodule "lib/RPIPicoOnboardNVS"]
	path = lib/RPIPicoOnboardNVS
	url = https://github.com/jondurrant/RPIPicoOnboardNVS
[submodule "lib/tiny-json"]
	path = lib/tiny-json
	url = https://github.com/rafagafe/tiny-json
[submodule "lib/json-maker"]
	path = lib/json-maker
	url = https://github.com/rafagafe/json-maker
